
body {background-color: red;
    color: aliceblue}



a {color: yellow; text-decoration: none;}
a:hover {color: blue; text-decoration: none;}

nav ul {font-family: "Helvetica Neue", "Times New Roman", Arial;
    font-size: 16pt;
    padding: 10px;
    border: 6px solid darkblue;
    display: inline-block;
    list-style: none;}
label{
    padding: 10px;
}
.center {
    position: center;
    background-color: green;
    text-align: center;
    padding: 15px;
    border: 5px solid dodgerblue;
    shadow: 2px;
    text-shadow: 2px 2px black;
    font-family: sans-serif, "Times New Roman", Helvetica;}

.logo {alignment: right;}

.item{

}

.box{
    border:3px; 
    border-style:solid; 
    border-color:#0400ff;
    padding: 1em;
}