h1{wwidth:50%}
a {color: yellow; text-decoration: none;}
a:hover {color: blue; text-decoration: none;}

nav ul {font-family: "Helvetica Neue", "Times New Roman", Arial;
    font-size: 16pt;
    padding: 10px;
    border: 6px solid darkblue;
    display: inline-block;
    list-style: none;}
label{
    margin: 10px;
}
input{
    margin: 10px;
}
.center {
    position: center;
    background-color: green;
    text-align: center;
    padding: 15px;
    border: 5px solid dodgerblue;
    shadow: 2px;
    text-shadow: 2px 2px black;
    font-family: sans-serif, "Times New Roman", Helvetica;}

.logo {alignment: right;}



.box {
    margin: auto;
    width: 300px;
    border: 3px solid green;
    padding: 10px;
}
.box div{
	padding: 10px;
}
.box div div{
	padding-left:150px;
	text-align:right;
    display:inline;
}